<a href="https://colab.research.google.com/github/priyanshgupta1998/STOCK/blob/master/Assignment_historical_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [87]:
import pandas as pd
import pandas_datareader.data as web
import datetime
from datetime import datetime
stocks = ['GOOGL', 'FB', 'IBM','YELP', 'MSFT','GOLD','XRT']
ls_key = 'Adj Close'
start = datetime(2012,1,1)
end = datetime(2019,6,12)    
print(start , end)
f = web.DataReader(stocks, 'yahoo',start,end)
#cleanData = f.ix[ls_key]

2012-01-01 00:00:00 2019-06-12 00:00:00

In [88]:
dataFrame = pd.DataFrame(f)
print(dataFrame.shape)
dataFrame.head()

(1872, 42)

Attributes High                         ...  Adj Close
Symbols      FB       GOLD       GOOGL  ...       MSFT        XRT YELP
Date                                    ...
2012-01-03  NaN  47.770000  334.409424  ...  22.229851  23.672968  NaN
2012-01-04  NaN  48.490002  335.460449  ...  22.753004  23.605375  NaN
2012-01-05  NaN  48.520000  332.317322  ...  22.985518  23.736063  NaN
2012-01-06  NaN  48.299999  330.330322  ...  23.342588  23.465672  NaN
2012-01-09  NaN  48.029999  323.823822  ...  23.035341  23.736063  NaN

[5 rows x 42 columns]

In [89]:
dataFrame.tail()

Attributes        High                      ...   Adj Close
Symbols             FB   GOLD        GOOGL  ...        MSFT        XRT       YELP
Date                                        ...
2019-06-06  169.699997  13.67  1050.000000  ...  127.820000  40.730000  31.570000
2019-06-07  173.869995  13.70  1073.430054  ...  131.399994  41.180000  31.480000
2019-06-10  177.860001  13.48  1094.839966  ...  132.600006  41.419998  31.950001
2019-06-11  179.979996  13.65  1104.010010  ...  132.100006  41.820000  32.060001
2019-06-12  179.270004  13.79  1082.520020  ...  131.490005  41.689999  31.980000

[5 rows x 42 columns]

In [90]:
dataFrame.columns

MultiIndex(levels=[['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], ['FB', 'GOLD', 'GOOGL', 'IBM', 'MSFT', 'XRT', 'YELP']],
           codes=[[0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5], [0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6, 0, 1, 2, 3, 4, 5, 6]],
           names=['Attributes', 'Symbols'])

In [91]:
dataFrame.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1872 entries, 2012-01-03 to 2019-06-12
Data columns (total 42 columns):
(High, FB)            1777 non-null float64
(High, GOLD)          1872 non-null float64
(High, GOOGL)         1872 non-null float64
(High, IBM)           1872 non-null float64
(High, MSFT)          1872 non-null float64
(High, XRT)           1872 non-null float64
(High, YELP)          1831 non-null float64
(Low, FB)             1777 non-null float64
(Low, GOLD)           1872 non-null float64
(Low, GOOGL)          1872 non-null float64
(Low, IBM)            1872 non-null float64
(Low, MSFT)           1872 non-null float64
(Low, XRT)            1872 non-null float64
(Low, YELP)           1831 non-null float64
(Open, FB)            1777 non-null float64
(Open, GOLD)          1872 non-null float64
(Open, GOOGL)         1872 non-null float64
(Open, IBM)           1872 non-null float64
(Open, MSFT)          1872 non-null float64
(Open, XRT)           1872 non-null float64
(Open, YELP)          1831 non-null float64
(Close, FB)           1777 non-null float64
(Close, GOLD)         1872 non-null float64
(Close, GOOGL)        1872 non-null float64
(Close, IBM)          1872 non-null float64
(Close, MSFT)         1872 non-null float64
(Close, XRT)          1872 non-null float64
(Close, YELP)         1831 non-null float64
(Volume, FB)          1777 non-null float64
(Volume, GOLD)        1872 non-null float64
(Volume, GOOGL)       1872 non-null float64
(Volume, IBM)         1872 non-null float64
(Volume, MSFT)        1872 non-null float64
(Volume, XRT)         1872 non-null float64
(Volume, YELP)        1831 non-null float64
(Adj Close, FB)       1777 non-null float64
(Adj Close, GOLD)     1872 non-null float64
(Adj Close, GOOGL)    1872 non-null float64
(Adj Close, IBM)      1872 non-null float64
(Adj Close, MSFT)     1872 non-null float64
(Adj Close, XRT)      1872 non-null float64
(Adj Close, YELP)     1831 non-null float64
dtypes: float64(42)
memory usage: 628.9 KB

In [92]:
dataFrame.mean()

Attributes  Symbols
High        FB         1.042153e+02
            GOLD       1.899463e+01
            GOOGL      7.163637e+02
            IBM        1.677366e+02
            MSFT       5.842550e+01
            XRT        4.214323e+01
            YELP       4.122464e+01
Low         FB         1.019593e+02
            GOLD       1.843675e+01
            GOOGL      7.040145e+02
            IBM        1.655041e+02
            MSFT       5.743101e+01
            XRT        4.151281e+01
            YELP       3.955835e+01
Open        FB         1.031076e+02
            GOLD       1.873515e+01
            GOOGL      7.104704e+02
            IBM        1.665971e+02
            MSFT       5.793835e+01
            XRT        4.183339e+01
            YELP       4.039196e+01
Close       FB         1.031306e+02
            GOLD       1.870354e+01
            GOOGL      7.103974e+02
            IBM        1.666200e+02
            MSFT       5.796163e+01
            XRT        4.183723e+01
            YELP       4.038381e+01
Volume      FB         3.491453e+07
            GOLD       1.428740e+07
            GOOGL      2.763463e+06
            IBM        4.398431e+06
            MSFT       3.526964e+07
            XRT        6.053862e+06
            YELP       2.544908e+06
Adj Close   FB         1.031306e+02
            GOLD       1.774659e+01
            GOOGL      7.103974e+02
            IBM        1.426924e+02
            MSFT       5.460940e+01
            XRT        3.984482e+01
            YELP       4.038381e+01
dtype: float64

In [0]:
dataFrame.fillna(dataFrame.mean(),inplace=True )

In [12]:
dataFrame.isna().sum()

Attributes  Symbols
High        FB         0
            GOOGL      0
            IBM        0
            MSFT       0
            YELP       0
Low         FB         0
            GOOGL      0
            IBM        0
            MSFT       0
            YELP       0
Open        FB         0
            GOOGL      0
            IBM        0
            MSFT       0
            YELP       0
Close       FB         0
            GOOGL      0
            IBM        0
            MSFT       0
            YELP       0
Volume      FB         0
            GOOGL      0
            IBM        0
            MSFT       0
            YELP       0
Adj Close   FB         0
            GOOGL      0
            IBM        0
            MSFT       0
            YELP       0
dtype: int64

In [33]:
import bs4 as bs
from bs4 import BeautifulSoup
import datetime as dt
import os 
import pandas as pd
import pandas_datareader.data as web
import pickle
import requests
names=[]
prices=[]
changes=[]
percentChanges=[]
marketCaps=[]
totalVolumes=[]
circulatingSupplys=[]
 
CryptoCurrenciesUrl = "https://in.finance.yahoo.com/currencies"
r= requests.get(CryptoCurrenciesUrl)
data=r.text
soup=BeautifulSoup(data)
 
counter = 40
for i in range(40, 404, 14):
   for listing in soup.find_all('tr', attrs={'data-reactid':i}):
      for name in listing.find_all('td', attrs={'data-reactid':i+3}):
         names.append(name.text)
      for price in listing.find_all('td', attrs={'data-reactid':i+4}):
         prices.append(price.text)
      for change in listing.find_all('td', attrs={'data-reactid':i+5}):
         changes.append(change.text)
      for percentChange in listing.find_all('td', attrs={'data-reactid':i+7}):
         percentChanges.append(percentChange.text)
pd.DataFrame({"Names": names, "Prices": prices, "Change": changes, "% Change": percentChanges})

      Names       Prices    Change  % Change
0   USD/INR      69.5260   +0.1570  +0.2263%
1   EUR/INR      78.4467   +0.1070    +0.14%
2   GBP/INR      88.1936   +0.1989    +0.23%
3   AED/INR      18.8880   +0.0450    +0.24%
4   INR/JPY       1.5555   -0.0058    -0.37%
5   SGD/INR      50.8960   +0.1300    +0.26%
6   USD/IDR  14,275.0000  +45.0000  +0.3162%
7   USD/THB      31.1800   -0.0700  -0.2240%
8   USD/MYR       4.1650   +0.0100  +0.2407%
9   USD/ZAR      14.8832   +0.0045  +0.0302%
10  USD/RUB      64.5168   -0.2846  -0.4392%
11  AUD/USD       0.6914   -0.0018  -0.2627%
12  AUD/JPY      74.9130   -0.2690    -0.36%
13  NZD/USD       0.6572   -0.0006  -0.0986%
14  EUR/USD       1.1280   -0.0014  -0.1241%
15  EUR/CAD       1.5027   -0.0031    -0.21%
16  USD/JPY     108.3630   -0.1110  -0.1023%
17  GBP/USD       1.2686   -0.0006  -0.0482%
18  USD/CHF       0.9941   -0.0010  -0.0965%
19  USD/CAD       1.3325   -0.0012  -0.0885%
20  EUR/JPY     122.2060   -0.2760    -0.23%
21  GBP/JPY     137.4670   -0.1770    -0.13%
22  EUR/GBP       0.8889   -0.0006    -0.06%
23  EUR/SEK      10.6932   +0.0031    +0.03%
24  EUR/CHF       1.1212   -0.0025    -0.23%
25  EUR/HUF     321.8800   +0.0300    +0.01%

In [81]:
names=[]
prices=[]
changes=[]
percentChanges=[]
marketCaps=[]
totalVolumes=[]
circulatingSupplys=[]
columns = []

CryptoCurrenciesUrl = "https://in.finance.yahoo.com/cryptocurrencies?offset=1"
r= requests.get(CryptoCurrenciesUrl)
data=r.text
soup=BeautifulSoup(data)

for listing in soup.find_all('table', attrs={'class':'W(100%)'}):
    for head in listing.thead.tr:
        #print(head.text)
        columns.append(head.text)

pd.DataFrame( columns = columns)
#pd.DataFrame({"% Change": percentChanges,"Change": changes,"Circulating_supply":circulatingSupplys,"MarketCap": marketCaps,"Names": names,"Prices": prices,  "Total_Volumes": totalVolumes})

Empty DataFrame
Columns: [Symbol, Name, Price (intraday), Change, % change, Market Cap, Volume in currency (since 0:00 UTC), Volume in currency (24 hrs), Total volume all currencies (24 hrs), Circulating supply, 52-week range, 1-day chart]
Index: []

In [0]:
all_data = []
for listing in soup.find_all('tr', attrs={'class':'simpTblRow Bgc($extraLightBlue):h BdB Bdbc($finLightGrayAlt) Bdbc($tableBorderBlue):h H(32px) Bgc(white) '}):
    liss = []
    for data in listing:
        liss.append(data.text)
    all_data.append(liss)

In [85]:
crypt_data = pd.DataFrame(all_data , columns = columns)
print(crypt_data.shape)
crypt_data.head()

(50, 12)

     Symbol              Name  ... 52-week range 1-day chart
0   XRP-INR        Ripple INR  ...
1   LTC-INR      Litecoin INR  ...
2   BNB-INR  Binance Coin INR  ...
3  USDT-INR        Tether INR  ...
4   TRX-INR        Tronix INR  ...

[5 rows x 12 columns]

In [86]:
crypt_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 12 columns):
Symbol                                  50 non-null object
Name                                    50 non-null object
Price (intraday)                        50 non-null object
Change                                  50 non-null object
% change                                50 non-null object
Market Cap                              50 non-null object
Volume in currency (since 0:00 UTC)     50 non-null object
Volume in currency (24 hrs)             50 non-null object
Total volume all currencies (24 hrs)    50 non-null object
Circulating supply                      50 non-null object
52-week range                           50 non-null object
1-day chart                             50 non-null object
dtypes: object(12)
memory usage: 4.8+ KB