<a href="https://colab.research.google.com/github/priyanshgupta1998/STOCK/blob/master/Remotely_data_access.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Can learn from here

https://pandas-datareader.readthedocs.io/en/latest/remote_data.html

#Pandas - Datareader() 


```
Remotely access the dataset
```

# Remote Data Access

Google Finance  
Morningstar   
IEX     
Robinhood   
Enigma    
Quandl    
St.Louis FED (FRED)   
Kenneth Frenchâ€™s data library    
World Bank   
OECD   
Eurostat    
Thrift Savings Plan    
Nasdaq Trader symbol definitions   
Stooq    
MOEX

**1. MOEX**



```
Moscow Exchange, the largest exchange group in Russia, operates trading markets in equities, bonds, derivatives, the foreign exchange market, money markets and precious metals.
``` 
https://www.moex.com/en/           
this website is related to stock marketing

In [1]:
import pandas_datareader.data as web
import datetime
start = datetime.datetime(2010, 1, 1)
end = datetime.datetime(2013, 1, 1)
print(start)
print(end)

2010-01-01 00:00:00
2013-01-01 00:00:00

In [9]:
f = web.DataReader('UAH000000TOM', 'moex', start, end)
f.head()

,BOARDID,SHORTNAME,SECID,OPEN,LOW,HIGH,CLOSE,NUMTRADES,VOLRUR,WAPRICE
TRADEDATE,,,,,,,,,,
2010-01-12,CETS,UAHRUB_TOD,UAH000000TOM,0.0,0,0,0.0,0,0,5.11
2010-01-13,CETS,UAHRUB_TOD,UAH000000TOM,0.0,0,0,0.0,0,0,5.11
2010-01-14,CETS,UAHRUB_TOD,UAH000000TOM,0.0,0,0,0.0,0,0,5.11
2010-01-15,CETS,UAHRUB_TOD,UAH000000TOM,0.0,0,0,0.0,0,0,5.11
2010-01-18,CETS,UAHRUB_TOD,UAH000000TOM,0.0,0,0,0.0,0,0,5.11

In [10]:
print(len(f))
print(f.shape)

973
(973, 10)

**2. Stooq Index Data**

https://stooq.pl
This website shows  live stock market prices

In [18]:
import pandas_datareader.data as web
f = web.DataReader('^DJI', 'stooq')
f[:10]

Empty DataFrame
Columns: []
Index: []

**3. TSP Fund Data**

(THRIFT SAVING PLAN :-)     
Download mutual fund index prices for the TSP

https://www.tsp.gov/index.html

In [23]:
import pandas_datareader.tsp as tsp
tspreader = tsp.TSPReader(start='2015-10-1', end='2015-12-31')
df = tspreader.read()
df.head()

,L Income,L 2020,L 2030,L 2040,L 2050,G Fund,F Fund,C Fund,S Fund,I Fund,
date,,,,,,,,,,,
2015-10-01,17.5164,22.5789,24.2159,25.5690,14.4009,14.8380,17.0467,25.7953,34.0993,23.3202,NaN
2015-10-02,17.5707,22.7413,24.4472,25.8518,14.5805,14.8388,17.0924,26.1669,34.6504,23.6367,
2015-10-05,17.6395,22.9582,24.7571,26.2306,14.8233,14.8413,17.0531,26.6467,35.3565,24.1475,
2015-10-06,17.6338,22.9390,24.7268,26.1898,14.7979,14.8421,17.0790,26.5513,35.1320,24.2294,
2015-10-07,17.6639,23.0324,24.8629,26.3598,14.9063,14.8429,17.0725,26.7751,35.6035,24.3671,

**4. Eurostat**

 Its main responsibilities are to provide statistical information to the institutions of the European Union
 
https://ec.europa.eu/eurostat

In [34]:
#Get Rail accidents dataset
df = web.DataReader('tran_sf_railac', 'eurostat')
print(df.shape)
df.values

(8, 264)

array([[ 3.,  5.,  2., ..., nan,  0., nan],
       [ 2.,  0.,  0., ..., nan,  0., nan],
       [ 1.,  3.,  3., ..., nan,  0., nan],
       ...,
       [ 7.,  0.,  3., ..., nan,  0., nan],
       [ 7.,  2.,  3., ..., nan,  0., nan],
       [ 7.,  1.,  1., ..., nan,  0., nan]])

In [35]:
df.head(3)

ACCIDENT    Collisions of trains, including collisions with obstacles within the clearance gauge  \
UNIT                                                                                      Number
GEO                                                                                      Austria
FREQ                                                                                      Annual
TIME_PERIOD
2010-01-01                                                 3.0
2011-01-01                                                 2.0
2012-01-01                                                 1.0

ACCIDENT                                                         \
UNIT
GEO         Belgium Bulgaria Switzerland Channel Tunnel Czechia
FREQ         Annual   Annual      Annual         Annual  Annual
TIME_PERIOD
2010-01-01      5.0      2.0         5.0            0.0     3.0
2011-01-01      0.0      0.0         4.0            0.0     6.0
2012-01-01      3.0      3.0         4.0            0.0     6.0

ACCIDENT                                                                      \
UNIT
GEO         Germany (until 1990 former territory of the FRG) Denmark Estonia
FREQ                                                  Annual  Annual  Annual
TIME_PERIOD
2010-01-01                                              13.0     0.0     1.0
2011-01-01                                              18.0     1.0     0.0
2012-01-01                                              23.0     1.0     3.0

ACCIDENT                ...           Unknown                                 \
UNIT                    ...            Number
GEO         Greece      ...       Netherlands Norway Poland Portugal Romania
FREQ        Annual      ...            Annual Annual Annual   Annual  Annual
TIME_PERIOD             ...
2010-01-01     4.0      ...               NaN    NaN    NaN      NaN     NaN
2011-01-01     1.0      ...               NaN    NaN    NaN      NaN     NaN
2012-01-01     2.0      ...               NaN    NaN    NaN      NaN     NaN

ACCIDENT
UNIT
GEO         Sweden Slovenia Slovakia Turkey United Kingdom
FREQ        Annual   Annual   Annual Annual         Annual
TIME_PERIOD
2010-01-01     NaN      NaN      NaN    0.0            NaN
2011-01-01     NaN      NaN      NaN    0.0            NaN
2012-01-01     NaN      NaN      NaN    0.0            NaN

[3 rows x 264 columns]

**4. OECD**   
The Organisation for Economic Co-operation and Development is an intergovernmental economic organisation with 36 member countries, **to stimulate economic progress **

http://www.oecd.org

You have to specify OECDâ€™s data set code.  

To confirm data set code, access to each data -> Export -> SDMX Query. Following example is to download â€˜Trade Union Densityâ€™ data which set code is â€˜TUDâ€™.

In [40]:
df = web.DataReader('TUD', 'oecd', end=datetime.datetime(2012, 1, 1))
print(df.shape)
df.head()

(3, 432)

Country          Iceland                                                       \
Frequency         Annual
Source       Survey data
Series     Union members            Trade union  density            Employees
Measure        Thousands Percentage            Thousands Percentage Thousands
Year
2010-01-01           NaN        NaN                  NaN        NaN       NaN
2011-01-01           NaN        NaN                  NaN        NaN       NaN
2012-01-01           NaN        NaN                  NaN        NaN       NaN

Country                                                                    \
Frequency
Source                Administrative data
Series                      Union members            Trade union  density
Measure    Percentage           Thousands Percentage            Thousands
Year
2010-01-01        NaN                83.0        NaN                  NaN
2011-01-01        NaN                 NaN        NaN                  NaN
2012-01-01        NaN                 NaN        NaN                  NaN

Country                  ...                Lithuania                       \
Frequency                ...                   Annual
Source                   ...              Survey data
Series                   ...     Trade union  density            Employees
Measure    Percentage    ...                Thousands Percentage Thousands
Year                     ...
2010-01-01  78.524125    ...                      NaN        NaN       NaN
2011-01-01        NaN    ...                      NaN        NaN       NaN
2012-01-01        NaN    ...                      NaN        NaN       NaN

Country                                                                    \
Frequency
Source                Administrative data
Series                      Union members            Trade union  density
Measure    Percentage           Thousands Percentage            Thousands
Year
2010-01-01        NaN                 NaN        NaN                  NaN
2011-01-01        NaN                 NaN        NaN                  NaN
2012-01-01        NaN                 NaN        NaN                  NaN

Country
Frequency
Source
Series                Employees
Measure    Percentage Thousands Percentage
Year
2010-01-01        NaN       NaN        NaN
2011-01-01        NaN       NaN        NaN
2012-01-01        NaN       NaN        NaN

[3 rows x 432 columns]

In [42]:
print(df.columns)
print(len(df.columns))

MultiIndex(levels=[['Australia', 'Austria', 'Belgium', 'Canada', 'Chile', 'Czech Republic', 'Denmark', 'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Iceland', 'Ireland', 'Israel', 'Italy', 'Japan', 'Korea', 'Latvia', 'Lithuania', 'Luxembourg', 'Mexico', 'Netherlands', 'New Zealand', 'Norway', 'Poland', 'Portugal', 'Slovak Republic', 'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'Turkey', 'United Kingdom', 'United States'], ['Annual'], ['Administrative data', 'Survey data'], ['Employees', 'Trade union  density', 'Union members'], ['Percentage', 'Thousands']],
           labels=[[13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0], [2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0, 2, 2, 1, 1, 0, 0], [1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0]],
           names=['Country', 'Frequency', 'Source', 'Series', 'Measure'])
432

**5. World Bank**  
users can easily access thousands of panel data series from the World Bankâ€™s World Development Indicators by using the wb I/O functions.

In [45]:
from pandas_datareader import wb
mathces = wb.search('gdp.*capita.*const')
print(mathces.shape)
mathces.head()

(5, 7)

,id,name,source,sourceNote,sourceOrganization,topics,unit
646,6.0.GDPpc_constant,"GDP per capita, PPP (constant 2011 internation...",LAC Equity Lab,GDP per capita based on purchasing power parit...,b'World Development Indicators (World Bank)',Economy & Growth,
8445,NY.GDP.PCAP.KD,GDP per capita (constant 2010 US$),World Development Indicators,GDP per capita is gross domestic product divid...,"b'World Bank national accounts data, and OECD ...",Economy & Growth,
8447,NY.GDP.PCAP.KN,GDP per capita (constant LCU),World Development Indicators,GDP per capita is gross domestic product divid...,"b'World Bank national accounts data, and OECD ...",Economy & Growth,
8449,NY.GDP.PCAP.PP.KD,"GDP per capita, PPP (constant 2011 internation...",World Development Indicators,GDP per capita based on purchasing power parit...,"b'World Bank, International Comparison Program...",Economy & Growth,
8450,NY.GDP.PCAP.PP.KD.87,"GDP per capita, PPP (constant 1987 internation...",WDI Database Archives,,b'',,



```
Then you would use the download function to acquire the data from the World Bankâ€™s servers:
```

In [46]:
dat = wb.download(indicator='NY.GDP.PCAP.KD', country=['US', 'CA', 'MX'], start=2005, end=2008)
print(dat)

                    NY.GDP.PCAP.KD
country       year
Canada        2008    48510.567773
              2007    48552.696431
              2006    48035.035792
              2005    47181.562394
Mexico        2008     9347.524279
              2007     9392.687112
              2006     9327.736200
              2005     9059.810486
United States 2008    49364.644550
              2007    49979.533843
              2006    49575.401014
              2005    48755.616061



```
The resulting dataset is a properly formatted DataFrame with a hierarchical index, so it is easy to apply .groupby transformations to it:
```

In [49]:
df =dat['NY.GDP.PCAP.KD']
df

country        year
Canada         2008    48510.567773
               2007    48552.696431
               2006    48035.035792
               2005    47181.562394
Mexico         2008     9347.524279
               2007     9392.687112
               2006     9327.736200
               2005     9059.810486
United States  2008    49364.644550
               2007    49979.533843
               2006    49575.401014
               2005    48755.616061
Name: NY.GDP.PCAP.KD, dtype: float64

In [52]:
df.groupby(level=0)

In [53]:
df.groupby(level=0).mean()    # calculate the average of all the years of the each country.

country
Canada           48069.965598
Mexico            9281.939519
United States    49418.798867
Name: NY.GDP.PCAP.KD, dtype: float64

In [54]:
df.groupby(level=1).mean()   # calculate the average of all the same year from each country.

year
2005    34998.996314
2006    35646.057668
2007    35974.972462
2008    35740.912201
Name: NY.GDP.PCAP.KD, dtype: float64

Now imagine you want to compare GDP  with cellphone contracts around the world.

In [56]:
wb.search('cell.*%').iloc[:,:2]

                  id                                               name
6797  IT.CEL.COVR.ZS  Population covered by mobile cellular network (%)
6852   IT.MOB.COV.ZS  Population coverage of mobile cellular telepho...

In [59]:
ind = ['NY.GDP.PCAP.KD', 'IT.MOB.COV.ZS']
dat = wb.download(indicator=ind, country='all', start=2011, end=2011)
print(dat.shape)
dat.head()

(324, 2)

                                     NY.GDP.PCAP.KD  IT.MOB.COV.ZS
country                        year
Arab World                     2011     5990.917180            NaN
Caribbean small states         2011     9100.464272            NaN
Central Europe and the Baltics 2011    13000.437357            NaN
Early-demographic dividend     2011     3038.491985            NaN
East Asia & Pacific            2011     7977.522825            NaN

In [71]:
df = dat.dropna()    # delete everything from the dataset  # All details
print(df.shape)
df.head()

(0, 2)

Empty DataFrame
Columns: [gdp, cellphone]
Index: []

In [65]:
df.columns = ['gdp', 'cellphone']    # replace the columns name
df.head()

Empty DataFrame
Columns: [gdp, cellphone]
Index: []

**5. FRED**

In [73]:
import pandas_datareader.data as web

import datetime

start = datetime.datetime(2010, 1, 1)

end = datetime.datetime(2013, 1, 27)

gdp = web.DataReader('GDP', 'fred', start, end)

print(gdp.shape)
gdp.head()

(13, 1)

                  GDP
DATE
2010-01-01  14721.350
2010-04-01  14926.098
2010-07-01  15079.917
2010-10-01  15240.843
2011-01-01  15285.828

In [75]:
gdp.ix['2010-01-01']

GDP    14721.35
Name: 2010-01-01 00:00:00, dtype: float64